# Copy to .dev.vars and supply your existing values. Never commit .dev.vars.
ANILIST_USERNAME=
LASTFM_USERNAME=
LASTFM_API_KEY=
SIMKL_CLIENT_ID=
SIMKL_CLIENT_SECRET=
SIMKL_REFRESH_TOKEN=
SIMKL_ACCESS_TOKEN=
SIMKL_PROFILE_URL=
IGDB_GAME_ID=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
INFINITE_BACKLOG_PROFILE_URL=
BATCAVE_PROFILE_URL=
BATCAVE_EMBED_URL=
